body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background-color: #f0e7db;
  --text-color: #000;
}

[data-theme='dark'] {
  --background-color: #333;
  --text-color: #fff;
}

.app-container {
  max-width: 800px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.total-balance{
  background-color: #ff8069;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 800px;
  position: relative;
}

.total-balance h2 {
  margin: 0;
  font-size: 2rem;
  background-color: #ff8069;
  font-weight: bolder;
}

.total-balance p{
  margin: 10px 0 0;
  font-size: 2rem;
  background-color: #ff8069;
  font-weight: bolder;
}


.balance-buttons {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.balance-button {
  font-size: 2rem;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px;
}

.balance-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

[data-theme='dark'] .app-container {
  background: #9EB8D9;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.theme-toggle-button img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.expense-chart {
  width: 100%;
  margin-top: 20px;
}

.day-details {
  margin-top: 20px;
  background: var(--background-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.day-details h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.day-details p {
  margin: 5px 0;
  font-size: 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.flags {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.flags img {
  width: 60px;
  margin: 0 20px;
  border-radius: 50%;
  margin: 10px 10px;
  cursor: pointer;
}
